<div class="actions-container">
  @if (editRoute && id) {
    <a
      [routerLink]="[editRoute, id]"
      pButton
      icon="pi pi-pencil"
      class="p-button-text p-button-sm action-btn btn-secondary"
      [pTooltip]="editTooltip"
      tooltipPosition="top"
      tooltipStyleClass="tooltip-text"
    ></a>
  }

  <button
    pButton
    type="button"
    [icon]="actionIcon"
    [ngClass]="actionClass"
    (click)="emitAction()"
    [pTooltip]="actionTooltip"
    tooltipPosition="top"
    tooltipStyleClass="tooltip-text"
  ></button>
  <ng-content></ng-content>
</div>
